ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    width: fit-content;
}

.star {
    font-size: 2.5em;
    color: #ddd;
    display: inline-block;
    transition: all 0.1s;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.output {
    margin: 50px 0;
    padding: 10px;
    border: 1px solid #eee;
    background-color: #ddd;
}

.zeroRating {
    font-family: cursive;
    color: red;
    font-weight: bolder;
    border: black 2px solid;
    border-radius: 56px;
    width: fit-content;
    padding: 4px;
    margin: 12px 6px;
    line-height: 14px;
    height: 14px;
    cursor: pointer;
    transition: all 0.3s/* padding 0.4s*/;
}

.zeroRating:hover {
    color: white;
    background-color: red;
    font-weight: bolder;
    border-color: white;
    padding: 6px;
    margin: 10px 4px;
}