.checkout-page {
	width: 55%;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2em auto 0;

	.checkout-header {
		width: 100%;
		padding: 0.5em 0;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid darkgrey;

		.header-block {
			text-transform: capitalize;
			width: 23%;

			&:not(:last-child) {
				transform: rotate(0deg);
				transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

				&:hover,
				&:active {
					transform: rotate(29deg);
				}
			}

			&:last-child {
				width: 8%;
				transform: rotate(0deg) translate(-90%, 0%);
				transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

				&:hover,
				&:active {
					transform: rotate(29deg) translate(-90%, 3%);
				}
			}
		}
	}

	.total {
		margin-top: 2em;
		margin-left: auto;
		font-size: 3.6rem;
	}
}
