/*----------------------------*/
/* GLOBAL STYLES */
/*----------------------------*/
:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
	--incerment-1: 0.5vw;
	--header1: calc(9rem + var(--incerment-1));
	--header2: calc(4rem + var(--incerment-1));
	--header3: calc(2.6rem + var(--incerment-1));
	--header4: calc(2.4rem + var(--incerment-1));
	--header5: calc(2rem + var(--incerment-1));
	--header6: calc(1.6rem + var(--incerment-1));
	--small-size-text-1: calc(0.7rem + var(--incerment-1));
	--small-size-text-2: calc(1rem + var(--incerment-1));
	--small-size-text-3: calc(1.3rem + var(--incerment-1));
	--normal-size-text-1: calc(1.6rem + var(--incerment-1));
	--normal-size-text-2: calc(1.9rem + var(--incerment-1));
	--normal-size-text-3: calc(2.2rem + var(--incerment-1));
	--big-size-text-1: calc(9rem + var(--incerment-1));
	--big-size-text-2: calc(11rem + var(--incerment-1));
	--big-size-text-3: calc(13rem + var(--incerment-1));
	--color-light-1: #fff;
	--color-light-2: #eee;
	--color-light-3: #ddd;
	--color-dark-1: #000;
	--color-dark-2: #333;
	--color-dark-3: #555;
	--main-font-color: black;
	--main-bg-color: white;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-size: var(--normal-size-text-1);
}

html,
body {
	width: 100%;
	height: 100%;
}
body {
	color: var(--main-font-color);
	background: var(--main-bg-color);
	overflow-x: hidden;
	max-width: 200rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	animation: opening 3s ease-in-out;

	&.theme-light-1 {
		--main-bg-color: var(--color-light-1);
		--main-font-color: var(--color-dark-1);
	}
	&.theme-light-2 {
		--main-bg-color: var(--color-light-2);
		--main-font-color: var(--color-dark-2);
	}
	&.theme-light-3 {
		--main-bg-color: var(--color-light-3);
		--main-font-color: var(--color-dark-3);
	}

	&.theme-dark-1 {
		--main-bg-color: var(--color-dark-1);
		--main-font-color: var(--color-light-1);
	}
	&.theme-dark-2 {
		--main-bg-color: var(--color-dark-2);
		--main-font-color: var(--color-light-2);
	}
	&.theme-dark-3 {
		--main-bg-color: var(--color-dark-3);
		--main-font-color: var(--color-light-3);
	}
}

h1 {
	font-size: var(--header1);
}
h2 {
	font-size: var(--header2);
}
h3 {
	font-size: var(--header3);
}
h4 {
	font-size: var(--header4);
}
h5 {
	font-size: var(--header5);
}
h6 {
	font-size: var(--header6);
}
ul {
	list-style: none;
}

a {
	color: var(--main-font-color);
	text-decoration: none;

	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: var(--main-font-color);
	}
}

ul,
ol,
dl,
li {
	text-decoration: none;
	list-style: none;
}

button,
a {
	cursor: pointer;
}

.margin-auto {
	margin: auto;
}

.w-100percent {
	width: 100%;
	height: auto;
}
.h-100percent {
	height: 100%;
}

.min-h-100vh {
	min-height: 100vh;
}

.max-w-100 {
	max-width: 100%;
}

.overflow-hidden {
	overflow: hidden;
}
.overflow-x-hidden {
	overflow-x: hidden;
}
.overflow-y-hidden {
	overflow-y: hidden;
}

.display-flex {
	display: flex;
}
.align-i-center {
	align-items: center;
}
.justify-c-center {
	justify-content: center;
}
.justify-c-space-around {
	justify-content: space-around;
}
.justify-c-space-between {
	justify-content: space-between;
}
.flex-d-c {
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}

.bg-no-repeat {
	background-repeat: no-repeat;
}
.bg-position-center {
	background-position: center;
}
.bg-size-cover {
	background-size: cover;
}

.object-fit-cover {
	object-fit: cover;
}
.object-positioncenter {
	object-position: center;
}
.text-align-center {
	text-align: center;
}

.isHidden {
	display: none !important;
}

.flex-x-y-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.svg-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
}
.svg-container svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: currentColor;
}
/*----------------------------*/
/* Global Animation */
/*----------------------------*/
@keyframes opening {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*----------------------------*/
/* Your Global Syles */
/*----------------------------*/

/*----------------------------*/
/* Your Global Animation */
/*----------------------------*/
