#popdog-card-clone {
    --clr-dark: rgb(13, 17, 19);
    --clr-light: #fff;
    --clr-accent: rgb(222, 52, 0);
    --clr-accent-dark: rgb(163, 38, 0);
    --clr-secondary: rgb(0, 76, 199);
    --br: 0.5em;
    --transition-smooth-in-fast-out: 200ms cubic-bezier(.21, 1.00, .81, 1.00);
    font-size: 1.6rem;
    font-family: sans-serif;
    min-height: 100vh;
    display: -ms-grid;
    display: flex;
    place-items: center;
    place-content: center;
    background: var(--clr-dark);
    color: var(--clr-light);

    .game {
        position: relative;
        width: 20rem;
    }
    
    img {
        max-width: 100%;
    }

    

    .streamers{
        
        img {
            width: calc(3.2rem + 0.4vw);
            height: calc(3.2rem + 0.4vw);
            border-radius: 50%;
            border: 1px solid var(--clr-dark);
        }
    }

    .rank {
        z-index: 3;
        position: absolute;
        top: 0;
        right: 10%;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.75);
        padding: 0.5em 0.5em 0.75em;
        clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
        transition: transform var(--transition-smooth-in-fast-out);
    }

      
    /*---------------------------*/
    /* FRONT */
    /*---------------------------*/
    .front {
        transition-delay: 150ms;
        position: relative;
        z-index: 2;
        transition: 250ms;

        .thumbnail {
            border-radius: var(--br);
            z-index: 2;
        }

        .streamers {
            display: flex;

            img {

                &:nth-of-type(1) {
                    transform: translate(50%);
                    z-index: 1;
                }
                &:nth-of-type(2) {
                    transform: translate(25%);
                }
            }

        }

        .stats {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .name {
            font-size: 2rem;
            margin: 0.75em 0;
        }

    }

    /*---------------------------*/
    /* BACK */
    /*---------------------------*/
    .back {
        font-size: calc(1rem + 0.3vw);
        opacity: 0;
        position: absolute;
        top: 60%;
        left: 0;
        right: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
        transform: translateY(35%);

        .streaming-info {
            columns: 2;
            column-rule: 1px solid rgba(255, 255, 255, 0.25);

            .game-stat {
                text-align: center;
                
                span {
                    font-size: 1.1rem;
                    font-weight: bold;
                    display: block;
                }
            }
        }

        .streamers{
            width: 100%;
            display: flex;
            justify-content: space-between;
            text-align: center;

            .name {
                font-weight: bold;
            }

            .streamer{
                display: flex;
                flex-direction: column;
            }
        }
    }

    .btn {
        cursor: pointer;
        border: 0;
        background: var(--clr-secondary);
        border-radius: 100vh;
        color: var(--clr-light);
        font-weight: bold;
        padding: 0.3em 1.2em;
        margin: 1em 0;
    }

    /*---------------------------*/
    /* BACKGROUND */
    /*---------------------------*/
    .background {
        background: rgb(40, 46, 54);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        transform: scale(0.2, 0.9);
        transition: 250ms;
        
        transition: transform var(--transition-smooth-in-fast-out),
          opacity 100ms linear;
        transition-delay: 50ms;
        opacity: 0;
        border-radius: var(--br);
        

    }

    .game:hover  {
        .rank {
            top: -10.3%;
            right: -14%;
            /*transform: translate(150%, -80%) scale(1.2);*/
            z-index: 5;
        }

        .front {
            transform: translateY(-30%) scale(0.8);

            .name/*:not(.no-gameName-animation)*/ {
                animation: gameName 250ms forwards;
            }

            .stats {
                display: none;
            }
            z-index: 5;
        }


        .back {
            opacity: 1;
            margin: 0em 0 -0.5em 0;
            transform: translateY(0);
            transition: transform 250ms ease, opacity 150ms linear;
            z-index: 5;
        }


        .background {
            transition: tansform var(--transition-smooth-in-fast-out), opacity 100ms linear;
            transform: scale(1.4, 1.2);
            opacity: 1;
            z-index: 4;
        }

    }


}

@keyframes gameName {
    0% {
        text-align: left;
        opacity: 1;
    }

    30% {
        text-align: left;
        opacity: 0;
    }

    60% {
        text-align: center;
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
}

@media only screen and (max-width: 670px) {
    #popdog-card-clone {
        font-size: 1.2rem;

        .btn {
            padding: 0.3em 0.5em;
            margin: 0.5em 0;
            width: 14rem;
        }
        
        .front {
            .name {
                font-size: 1.5rem;
            }
        }

        .back {
            font-size: calc(1rem + 0.5vw);
            top: 45%;
            span {
                font-size: 1rem;
            }
        }
        .game:hover  {
            
            .rank {
                top: -20%;
            }

            .front {
                transform: translateY(-45%) scale(0.8);
            }
            .background {
                transform: scale(1.6, 1.4);
            }

        }
    }
}
@media only screen and (max-width: 400px) {
    #popdog-card-clone {
        font-size: 1rem;
        .front {
            .streamers {
                img {
                        width: 2.2rem;
                        height: 2.2rem;
                }
            }
        }
        .back {
            font-size: calc(1rem + 0.4vw);
            top: 40%;
        }
        .game:hover  {
            
            .rank {
                top: -30%;
            }
            .front {
                transform: translateY(-55%) scale(0.8);
            }
            .background {
                transform: scale(1.8, 1.6);
            }

        }
    }
}