#popdog-card-clone {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #fff;
  --clr-accent: rgb(222, 52, 0);
  --clr-accent-dark: rgb(163, 38, 0);
  --clr-secondary: rgb(0, 76, 199);
  --br: 0.5em;
  --transition-smooth-in-fast-out: 200ms cubic-bezier(.21, 1.00, .81, 1.00);
  font-size: 1.5rem;
  font-family: sans-serif;
  min-height: 100vh;
  display: -ms-grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--clr-dark);
  color: var(--clr-light);
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*---------------------------*/
  /* FRONT */
  /*---------------------------*/
  /*---------------------------*/
  /* BACK */
  /*---------------------------*/
  /*---------------------------*/
  /* BACKGROUND */
  /*---------------------------*/
}

#popdog-card-clone .game {
  position: relative;
  width: 20rem;
  padding: 1em 1em;
}

#popdog-card-clone img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#popdog-card-clone .streamers {
  text-align: center;
}

#popdog-card-clone .streamers .icon {
  text-align: center;
}

#popdog-card-clone .streamers img {
  margin: auto;
  width: calc(2.2rem + 0.4vw);
  height: calc(2.2rem + 0.4vw);
  border-radius: 50%;
  border: 1px solid var(--clr-dark);
}

#popdog-card-clone .rank {
  z-index: 3;
  font-size: 1.3rem;
  position: absolute;
  top: 4.5%;
  right: 10%;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.75);
  padding: 0.5em 0.5em 0.75em;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
          clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
  -webkit-transition: -webkit-transform var(--transition-smooth-in-fast-out);
  transition: -webkit-transform var(--transition-smooth-in-fast-out);
  transition: transform var(--transition-smooth-in-fast-out);
  transition: transform var(--transition-smooth-in-fast-out), -webkit-transform var(--transition-smooth-in-fast-out);
}

#popdog-card-clone .front {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  position: relative;
  z-index: 2;
  -webkit-transition: 250ms;
  transition: 250ms;
}

#popdog-card-clone .front .thumbnail {
  position: relative;
  border-radius: var(--br);
}

#popdog-card-clone .front .streamers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#popdog-card-clone .front .streamers img:nth-of-type(1) {
  -webkit-transform: translate(50%);
          transform: translate(50%);
  z-index: 2;
}

#popdog-card-clone .front .streamers img:nth-of-type(2) {
  -webkit-transform: translate(25%);
          transform: translate(25%);
}

#popdog-card-clone .front .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popdog-card-clone .front .name {
  font-size: 1.8rem;
  margin: 0.75em 0;
}

#popdog-card-clone .back {
  font-size: 1.3rem;
  opacity: 0;
  position: absolute;
  top: 56%;
  left: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
}

#popdog-card-clone .back .streaming-info {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-rule: 1px solid rgba(255, 255, 255, 0.25);
          column-rule: 1px solid rgba(255, 255, 255, 0.25);
}

#popdog-card-clone .back .streaming-info .game-stat {
  text-align: center;
}

#popdog-card-clone .back .streaming-info .game-stat span {
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
}

#popdog-card-clone .back .streamers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

#popdog-card-clone .back .streamers .name {
  font-weight: bold;
}

#popdog-card-clone .back .streamers .streamer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#popdog-card-clone .btn {
  cursor: pointer;
  border: 0;
  background: var(--clr-secondary);
  border-radius: 100vh;
  color: var(--clr-light);
  font-weight: bold;
  padding: 0.3em 1.2em;
  margin: 0.8em 0;
}

#popdog-card-clone .background {
  background: #282e36;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transform: scale(0.2, 0.8);
          transform: scale(0.2, 0.8);
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition: opacity 100ms linear, -webkit-transform var(--transition-smooth-in-fast-out);
  transition: opacity 100ms linear, -webkit-transform var(--transition-smooth-in-fast-out);
  transition: transform var(--transition-smooth-in-fast-out), opacity 100ms linear;
  transition: transform var(--transition-smooth-in-fast-out), opacity 100ms linear, -webkit-transform var(--transition-smooth-in-fast-out);
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  opacity: 0;
  border-radius: var(--br);
}

#popdog-card-clone .game:hover {
  z-index: 3;
}

#popdog-card-clone .game:hover .rank {
  top: 0%;
  right: -5%;
}

#popdog-card-clone .game:hover .front {
  -webkit-transform: translateY(-28%) scale(0.7);
          transform: translateY(-28%) scale(0.7);
}

#popdog-card-clone .game:hover .front .name {
  -webkit-animation: gameName 250ms forwards;
          animation: gameName 250ms forwards;
}

#popdog-card-clone .game:hover .front .stats {
  display: none;
}

#popdog-card-clone .game:hover .back {
  opacity: 1;
  margin: 0em 0 -0.5em 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 150ms linear, -webkit-transform 250ms ease;
  transition: opacity 150ms linear, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 150ms linear;
  transition: transform 250ms ease, opacity 150ms linear, -webkit-transform 250ms ease;
}

#popdog-card-clone .game:hover .background {
  -webkit-transition: tansform var(--transition-smooth-in-fast-out), opacity 100ms linear;
  transition: tansform var(--transition-smooth-in-fast-out), opacity 100ms linear;
  -webkit-transform: scale(1.2, 1);
          transform: scale(1.2, 1);
  opacity: 1;
  z-index: 1;
}

@-webkit-keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }
  30% {
    text-align: left;
    opacity: 0;
  }
  60% {
    text-align: center;
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }
  30% {
    text-align: left;
    opacity: 0;
  }
  60% {
    text-align: center;
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/*
@media only screen and (max-width: 670px) {
    #popdog-card-clone {
        font-size: 1.2rem;

        .btn {
            padding: 0.3em 0.5em;
            margin: 0.5em 0;
            width: 14rem;
        }
        
        .front {
            .name {
                font-size: 1.5rem;
            }
        }

        .back {
            font-size: calc(1rem + 0.5vw);
            span {
                font-size: 1rem;
            }
        }
        .game:hover  {
            
            .rank {
                top: 0%;
                right: -5%;
            }

            .front {
                transform: translateY(-20%) scale(0.8);
            }
            .background {
                transform: translateY(0%) scale(1.2, 1);
            }

        }
    }
}
*/
/*
@media only screen and (max-width: 400px) {
    #popdog-card-clone {
        font-size: 1rem;
        .front {
            .streamers {
                img {
                        width: 2.2rem;
                        height: 2.2rem;
                }
            }
        }
        .back {
            font-size: calc(1rem + 0.4vw);
            top: 40%;
        }
        .game:hover  {
            
            .rank {
                top: -30%;
            }
            .front {
                transform: translateY(-55%) scale(0.8);
            }
            .background {
                transform: scale(1.8, 1.6);
            }

        }
    }
}
*/
/*# sourceMappingURL=style.css.map */