footer {
  background: $background-color;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  @include flex(row, flex-start, center);
  height: 20vh;
  margin-top: 5em;

  ul {
    flex: 1 1 40rem;
    @include flex(row, space-around, center);
  }

  h4 {
    flex: 1 1 40rem;
  }
}