/*linear-gradient(-90deg, black, #823030, black, #4a4a01, black)*/
/*$special-color: #906272;*/
/*----------------------------*/
/* GLOBAL STYLES */
/*----------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-animation: opening 1s ease-in-out;
          animation: opening 1s ease-in-out;
}

@media screen and (min-width: 1150px) {
  .hide-overflow-above-1150 {
    overflow: hidden;
  }
}

/*----------------------------*/
/* ANIMATIONS */
/*----------------------------*/
@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  width: 80%;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin: 1em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

nav ul li {
  margin: 0 0.5em;
}

.intro {
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro h2 {
  font-size: 7rem;
  background: -webkit-gradient(linear, right top, left top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(-90deg, #38d39f, #38a4d3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.intro h3 {
  font-size: 4.5rem;
  padding: 0.1em 0rem;
}

.intro p {
  color: #2c2c2c;
  width: 150%;
}

.intro-social {
  padding-top: 1em;
}

.intro-text {
  width: 40%;
}

.intro-images {
  width: 58%;
}

.me-working {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 710px) {
  :root {
    font-size: 50%;
  }
  .main-head {
    margin: auto;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1em 0;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .intro p {
    width: 100%;
  }
  .intro-text {
    width: 100%;
    margin: 4em 6em;
  }
  .intro-images {
    width: 100%;
  }
  .splash {
    top: -4%;
    right: -102%;
    height: 100%;
    width: 132%;
  }
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 30%;
  }
}

.active {
  background: #2c2c2c;
  color: white;
  padding: 0.5em 1.5em;
  border-radius: 2em;
}

#plant-left {
  -webkit-animation: plant 1.5s ease infinite alternate;
          animation: plant 1.5s ease infinite alternate;
}

#plant-right {
  -webkit-animation: plant 1.5s ease infinite alternate 0.5s;
          animation: plant 1.5s ease infinite alternate 0.5s;
}

#me {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: me 20s ease infinite alternate 0.5s;
          animation: me 20s ease infinite alternate 0.5s;
}

#clock-arrow-container {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

#clock-arrow {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
  -webkit-animation: clockArrow 1.5s infinite linear;
          animation: clockArrow 1.5s infinite linear;
}

@-webkit-keyframes plant {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes plant {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@-webkit-keyframes me {
  0% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  20% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  70% {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  100% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
}

@keyframes me {
  0% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  20% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  70% {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  100% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
}

@-webkit-keyframes clockArrow {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clockArrow {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.travelly,
.elena {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.travelly h2,
.elena h2 {
  margin: 0.25em;
  text-align: center;
}

.travelly img,
.elena img {
  width: 85%;
}

.form-section {
  max-height: 80vh;
  /*height: 65vh;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4em;
}

.form-section form {
  padding: 1.5em 5em;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2em;
  /*height: 100%;*/
}

.form-section form .name-form,
.form-section form .email-form,
.form-section form .message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25em;
}

.form-section form .message-form {
  /*padding: 0.125em;*/
}

.form-section form input,
.form-section form textarea {
  /*width: calc(30rem + 1vh);*/
}

.form-section form input:focus,
.form-section form textarea:focus {
  outline: 2px solid black;
}

.form-section form textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.form-section form button {
  width: 100%;
  padding: 0.5em;
  background: #154353;
  color: white;
}

.form-section form button:focus {
  background: #33696b;
}

@media screen and (max-height: 710px) {
  .form-section form {
    padding: 1.5em 3em;
  }
}

@media screen and (max-height: 560px) {
  .form-section li, .form-section button, .form-section label, .form-section input, .form-section a, .form-section p {
    font-size: 2rem;
  }
}

footer {
  background: #154353;
  color: white;
  min-height: 10vh;
  padding: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  margin-top: 5em;
}

footer ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}
/*# sourceMappingURL=style.css.map */