:root {
	font-size: 62.5%;
	--main-grid-width: calc(16rem + 25vw);
	--main-grid-height: calc(16rem + 25vw);
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

h3 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
}

h1 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	margin-top: -10px;
}

.invisible {
	background-color: white;
}

body {
	background-image: url("candy-crush-background-2.png");
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	padding: 1rem;
}

.grid {
	margin: auto;
	height: var(--main-grid-width);
	width: var(--main-grid-height);
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	border: 5px black solid;
	background-color: rgba(109, 127, 151, 0.5);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
	color: #85796b;
}

.grid div {
	height: calc(var(--main-grid-width) / 8);
	width: calc(var(--main-grid-height) / 8);
}

.grid .square {
	background-position: center;
	background-size: cover;
	-webkit-animation: squareMoveDown 0.3s ease-in-out 0.05s 1 normal;
	-moz-animation: squareMoveDown 0.3s ease-in-out 0.05s 1 normal;
	-ms-animation: squareMoveDown 0.3s ease-in-out 0.05s 1 normal;
	-o-animation: squareMoveDown 0.3s ease-in-out 0.05s 1 normal;
	animation: squareMoveDown 0.3s ease-in-out 0.05s 1 normal;
}

@keyframes squareMoveDown {
	0% {
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-o-transform: translateY(0%);
		transform: translateY(0%);
	}
}

.score-board {
	background-color: pink;
	border-radius: 10px;
	margin: auto;
	min-width: calc(10rem + 5vw);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	background-image: linear-gradient(#ffb6c1, #ffc0cb);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
	color: #85796b;
	height: 6rem;
}

@media screen and (max-width: 415px) {
	.score-board {
		margin-bottom: 2rem;
	}
}
