.sign-in {
	min-width: calc(20rem + 10vw);
	width: 40vw;
	max-width: 35rem;
	display: flex;
	flex-direction: column;
	margin: 0.25em;
	padding: 0.5em;
	border: 1px solid black;
	border-radius: 5px;
	height: fit-content;

	h2 {
		text-transform: capitalize;
		letter-spacing: 0.02em;
	}
}
