body {
  text-align: center;
}

#players {
  text-align: center;
}

#player1,
#player2 {
  display: inline-block;
  width: 200px;
  height: 140px;
  border: 1px solid black;
  padding: 5px;
  margin: 25px;
  text-align: center;
  font-size: 7em;
}

#output {
  width: 550px;
  margin: auto;
  font-size: 2em;
}

button {
  padding: 10px;
  text-align: center;
  width: 550px;
}
