.tooltip {
    color: blue;
    background-color: #ddd;
}

.output {
    display: none;
    position: absolute;
    border: 1px solid red;
    background-color: black;
    color: white;
    padding: 5px;
    top: 100px;
    left: 50px;
}