:root {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
h1 {
    font-size: calc(1.5rem + 5vw);
}
label,
input,
p,
.input,
.dropdown-content {
      font-size: calc(1rem + 1vw);
}

.grid {
    width: 40rem;
    height: 60rem;
    background-color: yellow;
    position: relative;
}