/* CSSTransition classes  */
.menu-primary {
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}


.menu-services {
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}
.menu-services-enter {
  transform: translateX(110%);
}
.menu-services-enter-active {
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}
.menu-services-exit {

}
.menu-services-exit-active {
  transform: translateX(110%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}