/*----------------------------*/
/* GLOBAL STYLES */
/*----------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*@font-face {
  font-family: "Ruhl";
  src: url("fonts/FrankRuhlLibre-Regular.ttf");
}
@font-face {
  font-family: "Ruhl Medium";
  src: url("fonts/FrankRuhlLibre-Medium.ttf");
}
@font-face {
  font-family: "Great Vibes";
  src: url("fonts/GreatVibes-Regular.ttf");
}*/
:root {
	font-size: 62.5%;
  scroll-behavior: smooth;
  --header1: calc(4rem + 1vw);
  --header2: calc(3.2rem + 1vw);
  --header3: calc(2.5rem + 1vw);
  --header4: calc(2rem + 1vw);
  --header5: calc(1.8rem + 1vw);
  --header6: calc(1.5rem + 1vw);
  --text: calc(1.2rem + 1vw);
  --big-text: calc(6rem + 1vw);
  --main-text-color: #292d33;
  --main-text-color-2: white;
  --main-text-color-3: #ffcb00;
  --main-bg-color: white;
  --main-bg-color-2: #ffcb00;
  --main-bg-color-3: #292d33;
  --main-bg-color-4: #ffe300;
  --first-transition: ease-in-out 0.5s;
  font-family: 'Open Sans',sans-serif;
  color: var(--main-text-color);
}
html,
body {
	width: 100%;
	height: 100%;
}
h1 {
	font-size: var(--header1);
}
h2 {
	font-size: var(--header2);
}
h3 {
	font-size: var(--header3);
}
h4 {
  font-size: var(--header4);
}
h5 {
  font-size: var(--header5);
}
h6 {
  font-size: var(--header6);
}
li,
button,
label,
input,
a,
p {
	font-size: var(--text);
}
ul {
	list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
button {
  cursor: pointer;
}
.full-wh-container {
  width: 100%;
  height: auto;
}
.flex-column-xy-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-d-c {
  flex-direction: column;
}
.isHidden {
  display: none;
}
.special-btn-1 {
  font-weight: 500;
  background: var(--main-bg-color-2);
  width: calc(20rem + 1vw);
  height: calc(5rem + 0.5vw);
  border: transparent;
  margin: 2em 0;
  transition: all var(--first-transition);
  text-transform: uppercase;
}
.special-btn-1 a {
  letter-spacing: 0.2em;
  transition: all var(--first-transition);
}
.special-btn-1:hover {
  background: var(--main-bg-color-3);
  color: var(--main-text-color-3);
}
.special-btn-1:hover a {
  color: var(--main-text-color-3);
}


.special-btn-2 {
  font-weight: 500;
  background: var(--main-bg-color-3);
  width: calc(20rem + 1vw);
  height: calc(5rem + 0.5vw);
  border: transparent;
  margin: 0.5em 0;
  transition: all var(--first-transition);
  text-transform: uppercase;
}
.special-btn-2 a {
  letter-spacing: 0.2em;
  color: var(--main-text-color-3);
  transition: all var(--first-transition);
}
.special-btn-2:hover {
  background: var(--main-bg-color-2);
}
.special-btn-2:hover a {
  color: var(--main-text-color);
}

.svg-container {
  position: relative;
  width: 100%;
  height: 100%;

}
.svg-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  fill: currentColor;
}
body {
  background: var(--main-bg-color);
  animation: opening 1.5s ease-in-out;
}

/*----------------------------*/
/* ANIMATIONS */
/*----------------------------*/
@keyframes opening {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

}
@keyframes flipFront {
  0% {
    z-index: 3;
    transform: rotateY(360deg);
  }
  100% {
    z-index: 2;
    transform: rotateY(180deg);
  }
}

@keyframes flipCard {
  0% {
    z-index: 2;
    transform: rotateY(180deg);
  }
  100% {
    z-index: 3;
    transform: rotateY(360deg);
  }
}

/*----------------------------*/
/* Nav Section */
/*----------------------------*/
.main-header-wrapper {
  background: var(--main-bg-color);
  height: 7rem;
  padding: 0 1em;
}

.main-header-wrapper .logo {
  font-size: 4rem;
  margin-right: auto;
  width: auto;
}


.main-nav {

}

.main-nav .hambergur-btn {
  cursor: pointer;
}

.main-nav .hambergur-btn .line {
  margin: 0.3em;
  background: var(--main-bg-color-3);
  height: 0.6rem;
  width: 5rem;
}

/*----------------------------*/
/* Main Content */
/*----------------------------*/

.main-content-1 {
  background: var(--main-bg-color);
  display: block;
  overflow: hidden;
  position: relative;
}

/*----------------------------*/
/* Main Section 1 */
/*----------------------------*/

.main-section-1 {
  margin: 3em 0 3em 10em;
}

.main-section-1 .text-container,
.main-section-1 .image-container {
  width: 50%;
}

.main-section-1 .text-container h1 {
  font-size: var(--big-text);
  font-family: "Archivo Narrow";
}

.main-section-1 .text-container h5 {
  font-weight: 400;
}

.main-section-1  .text-container p {
  margin: 1em 0;
}

.main-section-1 .image-container {
  align-self: flex-end;
  background: var(--main-bg-color-2);
}

.main-section-1 .image-container img {
  background-position: center;
  object-fit: contain;
  transform: translateX(20%);
}

/*----------------------------*/
/* Main Section 2 */
/*----------------------------*/
.main-section-2 {
  margin: 4em auto;
  width: 75%;
  max-width: calc(80rem + 8vw);
  padding: 3em;
}

.main-section-2 .container {
  position: relative;
}

.main-section-2 .img-wrapper {
  z-index: 1;
  position: relative;
}

.main-section-2 .svg-dots-wrapper {
  width: 27%;
  height: 5%;
  z-index: 2;
  position: absolute;
  right: -13%;
  top: -6.5%;
  color: var(--main-text-color);
}

.main-section-2 .features-card {
  background-image: url("./images/rttr.png");
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: calc(18rem + 8vw);
  height: calc(18rem + 8vw);
  position: absolute;
  bottom: -11%;
  right: calc(-14% - 2vw);
}

.main-section-2 .feature-card {
  width: 99%;
  height: 99%;
  position: relative;
  margin: auto;
}

.card-1 .front {
  animation: flipCard 2s ease-in-out 2s infinite alternate-reverse;
}
.card-1 .back {
  animation: flipCard 2s ease-in-out 0s infinite alternate-reverse;
}

.card-2 .front {
  animation: flipCard 2s ease-in-out 3s infinite alternate-reverse;
}
.card-2 .back {
  animation: flipCard 2s ease-in-out 1s infinite alternate-reverse;
}

.card-3 .front {
  animation: flipCard 3s ease-in-out 8s infinite alternate-reverse;
}
.card-3 .back {
  animation: flipCard 3s ease-in-out 5s infinite alternate-reverse;
}

.card-4 .front {
  animation: flipCard 1.5s ease-in-out 3.5s infinite alternate-reverse;
}
.card-4 .back {
  animation: flipCard 1.5s ease-in-out 2s infinite alternate-reverse;
}

.main-section-2 .feature-card .front,
.main-section-2 .feature-card .back {
  width: 75%;
  height: 75%;
  position: absolute;
  transition: all var(--first-transition);
  margin: 15%;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
}

.main-section-2 .feature-card .front {
  z-index: 3;
  background: var(--main-bg-color-2);
}

.main-section-2 .feature-card .front svg {
  width: 80%;
  margin: 10%;
}

.main-section-2 .svg-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

.main-section-2 .feature-card .back {
  z-index: 2;
  background: var(--main-bg-color);
  transform: rotateY(180deg);
}

.main-section-2 .feature-card .back p {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

/*----------------------------*/
/* Main Section 3 */
/*----------------------------*/
.main-section-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.main-section-3 .part-1-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.main-section-3 .part-1-wrapper .text-wrapper {
  color: var(--main-text-color-2);
  background: var(--main-bg-color-3);
  align-items: flex-start;
  padding: 0 2em;
}

.main-section-3 .part-1-wrapper .text-wrapper h2 {
  font-size: var(--big-text);
  color: var(--main-text-color-3);
}

.main-section-3 .part-1-wrapper .img-wrapper img {
  height: 100%;
  background-position: center;
  object-fit: cover;
}


.main-section-3 .part-2-wrapper {
  padding: 5em;
  text-align: center;
}

.main-section-3 .part-2-wrapper p {
  font-size: calc(0.8rem + 1vw);
  font-weight: bold;
}

.main-section-3 .part-2-wrapper button {
  width: calc(15rem + 1vw);
  height: calc(5rem + 1vw);
}

/*----------------------------*/
/* Main Section 4 */
/*----------------------------*/
.main-section-4 {

}

.main-section-4 .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.main-section-4 .grid .img-container {
  height: 100%;
}

.main-section-4 .grid .img-container img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.main-section-4 .grid .text-container {
  background: var(--main-bg-color-3);
  color: var(--main-text-color-2);
  text-align: center;
}

.main-section-4 .grid .text-container h3::after {
  width: 8rem;
  height: 0.6rem;
  content: "";
  margin: 0.5em auto;
  background: var(--main-bg-color-2);
  display: block;
}

/*----------------------------*/
/* Main Section 5 */
/*----------------------------*/
.main-section-5 {
  margin: 13em auto;
}

.main-section-5 .container-1 {
  position: relative;
}

.main-section-5 .container-1 .part-1 {
  position: absolute;
  width: calc(25% + 1vw + 5rem);
  color: #ffb400;
  top: -21%;
  left: 15%;
}

.main-section-5 .container-1 .part-2 {
  position: absolute;
  bottom: -20%;
  right: 15%;
  background: var(--main-bg-color-2);
  width: calc(20rem + 10vw);
  height: calc(15rem + 10vw);
}

.main-section-5 .container-1 .part-3 {
  background: var(--main-bg-color-2);
  width: calc(30rem + 15vw);
  max-width: calc(80rem + 1vw);
  margin: auto;
  height: 50rem;
  text-align: center;
  position: relative;
  z-index: 3;
}

.main-section-5 .container-1 .part-3 .text-holder {
  background: var(--main-bg-color);
  width: 95%;
  height: 96%;
  margin: auto;
}

.main-section-5 .container-1 .part-3 h5 {
  margin-bottom: 0;
  letter-spacing: 0.15em;
  text-transform: capitalize;
}


















/*----------------------------*/
/* Media Queries */
/*----------------------------*/

@media screen and (max-width: 800px) {
  .main-section-1 {
    flex-wrap: wrap;
  }
  .main-section-1 .text-container, .main-section-1 .image-container {
    width: 100%;
  }
  .main-section-1 .image-container {
    height: max-content;
  }
  .main-section-1 .image-container img {
    background-position: center;
    object-fit: contain;
    transform: translateX(0%);
  }
  .main-section-2 .feature-card .front {
    width: 75%;
    height: 75%;
    margin: 15%;
  }
  .main-section-2 .feature-card .back p {
    font-size: 1.1rem;
  }
  .main-section-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
  }
  .main-section-3 .part-2-wrapper button {
    width: calc(20rem + 1vw);
  }
  .main-section-4 .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .main-section-5 {
    margin: 8em auto;
  }
  .main-section-5 .container-1 .part-1 {
    top: -13%;
    left: 2%;
  }
  .main-section-5 .container-1 .part-2 {
    right: 2%;
  }
}

/*----------------------------*/
/* Important! */
/*----------------------------*/
.image-source {
  margin: 0;
}

.image-source a {
  display: block;
  font-weight: 500;
  border-bottom: 3px solid var(--main-bg-color-2);
  width: max-content;
}


.image-source a:hover {
  color: var(--main-text-color-3);
  border-bottom: 3px solid var(--main-bg-color-3);
  transition: all var(--first-transition);
}
.margin-r-a {
  margin-right: auto;
}