:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
h1 {
  font-size: calc(1.5rem + 5vw);
}

label,
input,
p,
.input,
.dropdown-content {
    font-size: calc(1rem + 1vw);
}

.tutorial {
  width: 60rem;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 12.8rem;
}

.notification {
  margin-top: 2rem !important;
}

.results {
  max-height: 50rem;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 1.5rem;
}

.hero {
  margin-bottom: 2rem;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 6rem;
}

.dropdown-item img {
    height: 5rem;
    margin-right: 1rem;
    width: calc(3rem + 1%);
}

.title {
  font-size: calc(2rem + 2vw);
}

.dropdown-menu {
    width: min(45rem, calc(15rem + 40vw));
}

.autocomplete {
    padding: 0 1rem;
}

.input {
  display: block;
}