/* Common Styles */
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400&family=Monoton&display=swap");
body {
  font-family: "Bellota Text", cursive;
  overflow-x: hidden;
}

.main-container {
  width: 100%;
}

/* Section 1 */
.section-1 {
  width: 100%;
  min-height: min(65rem, 100vh);
  background-color: #fff;
  overflow: hidden;
}
.section-1 .floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(50, 231, 255, 0.8);
  position: absolute;
  top: -125vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  animation: rotate 30s infinite;
}
@media screen and (max-width: 900px) {
  .section-1 .floating-bg {
    top: -110vw;
  }
}
.section-1 .floating-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(50, 231, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  animation: rotate 30s infinite;
}
.section-1 .navbar {
  position: relative;
  z-index: 20;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-evenly;
}
.section-1 a.navbar-link {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: #fff;
  padding: 0.5em;
  word-wrap: break-word;
  text-align: center;
  width: 1.5rem;
  transition: width 2.5s, background-color 2.5s;
}
.section-1 a.navbar-link:hover {
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.section-1 .text-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 20;
}
.section-1 .heading {
  font-size: 8rem;
  font-family: "Monoton", cursive;
  margin-top: 0.5em;
  text-align: center;
  text-shadow: 0.3rem 0.3rem 0.3rem #888;
  color: #fffd;
  background-color: #fffe;
  width: 85rem;
  border-radius: 0.8rem;
  opacity: 0.9;
}
@media screen and (max-width: 900px) {
  .section-1 .heading {
    font-size: 5rem;
  }
}
.section-1 .logo {
  margin: 0.4em auto;
}
.section-1 .logo i {
  font-size: 15rem;
  color: rgba(50, 231, 255, 0.8);
  text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem 0.2rem #ddd;
}
@media screen and (max-width: 900px) {
  .section-1 .logo i {
    font-size: 10rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Section 2 */
.section-2 {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section-2 .heading {
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
  text-align: center;
  opacity: 1;
  text-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
}
.section-2 .customers-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 45rem;
  flex-wrap: wrap;
  padding: 0.5em;
}
.section-2 .customer {
  width: 30rem;
  min-height: 40rem;
  margin: 0.5em;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.1em 0.5em;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
  transition: box-shadow 0.5s ease-in;
}
.section-2 .customer:first-child {
  margin: 2.5em 1.5em 0em 1.5em;
}
.section-2 .customer:nth-child(2) {
  margin: 5em 1.5em 0em 1.5em;
}
.section-2 .customer:last-child {
  margin: 7.5em 1.5em 0em 1.5em;
}
.section-2 .customer .img-holder {
  width: 10rem;
  height: 10rem;
  margin: 0.5em auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.section-2 .customer .img-holder::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: -2rem;
  width: 200%;
  height: 2rem;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1), transparent);
  z-index: 2;
  transform: translate(-50%, -50%) rotate(135deg);
  transform-origin: center;
  transition: all 1s ease-in;
}
.section-2 .customer .img-holder .customer-img {
  filter: blur(1px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 1.25s ease-in-out, transform 0.5s ease-in 0.5s;
}
.section-2 .customer:hover {
  box-shadow: 2rem 2rem 3rem #ddd, -2rem -2rem 3rem #eee;
}
.section-2 .customer:hover .img-holder::before {
  top: calc(100% + 2rem);
  left: calc(100% + 2rem);
}
.section-2 .customer:hover .img-holder .customer-img {
  filter: blur(0px);
  transform: scale(1.1);
}
.section-2 .fa-quote-left {
  font-size: 4rem;
  color: #f08e0f;
}
.section-2 .customer-text {
  font-size: 1.8rem;
  margin: 0.5em 0;
  text-align: justify;
}
.section-2 .customer-text::first-letter {
  margin-left: 0.5em;
}
.section-2 .customer-name {
  font-size: 2rem;
  font-weight: 700;
}
.section-2 .customer-rating i {
  font-size: 2rem;
  color: #f08e0f;
}

/* Section 3 */
.section-3 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em 0;
}
.section-3 .team-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 70%;
}
.section-3 .heading {
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
  text-align: center;
  opacity: 1;
  text-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
}
.section-3 .team-member {
  width: 35rem;
  max-width: 90%;
  background-color: #fffeee;
  padding: 0.25em 0.25em 0.4em 0.25em;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
  margin: 0.5em 1em;
  position: relative;
  opacity: 0.7;
  transition: all 0.5s ease-in;
}
.section-3 .team-member:first-child {
  margin: 2.5em 1.5em 0em 1.5em;
}
.section-3 .team-member:nth-child(2) {
  margin: 5em 1.5em 0em 1.5em;
}
.section-3 .team-member:last-child {
  margin: 7.5em 1.5em 0em 1.5em;
}
.section-3 .team-member .img-holder {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.section-3 .team-member .img-holder::before {
  content: "";
  position: absolute;
  top: -3rem;
  left: -3rem;
  width: 200%;
  height: 3rem;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1), transparent);
  z-index: 2;
  transform: translate(-50%, -50%) rotate(135deg);
  transform-origin: center;
  transition: all 0.5s ease-in 0.1s;
}
.section-3 .team-member .img-holder .team-member-img {
  width: 100%;
  border-radius: 0.5rem;
}
.section-3 .team-member .team-member-name {
  font-size: 2.3rem;
  font-weight: 700;
  color: #796717;
  margin-top: 2rem;
}
.section-3 .team-member .team-member-name span {
  font-size: 1.7rem;
}
.section-3 .team-member .team-member-skills {
  display: flex;
  justify-content: space-between;
  margin: 0.25em 0 0.5em 0;
}
.section-3 .team-member .team-member-skills li {
  font-size: 1.5rem;
  color: #505050;
  font-weight: 700;
  user-select: none;
}
.section-3 .team-member .projects-btn {
  background-color: #fab34a;
  color: #fff;
  padding: 0.25em 0.75em;
  border-radius: 5rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-in-out;
}
.section-3 .team-member .projects-btn:hover {
  background-color: #fda219;
}
.section-3 .team-member .story {
  width: 100%;
  height: 100%;
  background-color: rgba(253, 69, 69, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  z-index: 3;
  border-radius: 50rem 0 50rem 50rem;
  transform: scale(0);
  transform-origin: top right;
  transition: all 0.5s;
}
.section-3 .team-member .story.change {
  transform: scale(1);
  border-radius: 0;
}
.section-3 .team-member .story-heading {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1em;
}
.section-3 .team-member .story-paragraph {
  font-size: 1.8rem;
  color: #eee;
  text-align: justify;
  letter-spacing: 0.1rem;
  text-indent: 2rem;
}
.section-3 .team-member .story-btn {
  width: 4rem;
  height: 4rem;
  background-color: #222;
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: 0.25em;
  cursor: pointer;
  z-index: 4;
  transition: transform 0.4s;
}
.section-3 .team-member .story-btn.change {
  transform: rotate(405deg);
}
.section-3 .team-member .story-btn-line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  z-index: 4;
}
.section-3 .team-member:hover {
  opacity: 1;
}
.section-3 .team-member:hover .img-holder::before {
  top: calc(100% + 3rem);
  left: calc(100% + 3rem);
}
@media screen and (max-width: 900px) {
  :root {
    font-size: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
