@import url("https://fonts.googleapis.com/css?family=Exo:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko:400,600&display=swap");
:root {
  --player-background: #23ce6b;
  --player-background-hover: #1fb860;
  --player-foreGround: #edf2f4;
  --player-controls: #1fb860;
  --player-controls-dark: #138040;
  --font-family: "Exo", sans-serif;
}

body {
  background-color: #c7f6db;
}

.video-player-container {
  --main-player-background: var(--player-background);
  --main-player-background-hover: var(--player-background-hover);
  --main-player-foreGround: var(--player-foreGround);
  --main-player-controls: var(--player-controls);
  --main-font-family: var(--font-family);
  --main-player-controls-dark: var(--player-controls-dark);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  height: calc(100% - 3em);
}
.video-player-container .top-info {
  font-family: "Teko", sans-serif;
  position: absolute;
  font-size: 2rem;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0.25em;
  text-align: center;
  background-color: #272d2d;
  color: #ffffff;
}
.video-player-container *,
.video-player-container *::before,
.video-player-container *::after {
  font-family: var(--main-font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-player {
  width: 80%;
  max-width: 60rem;
  min-height: 20rem;
  height: 30rem;
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.25);
  --video-topbar-height: 4.4rem;
}
.video-player.hide-controls .video-topbar {
  transform: translateY(-100%);
  opacity: 0.4;
}
.video-player.hide-controls .video-controls {
  transform: translateY(100%);
  opacity: 0.4;
}
.video-player .video-topbar {
  height: var(--video-topbar-height);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-player-background);
  color: var(--main-player-foreGround);
  font-weight: 600;
  z-index: 2;
  transition: all ease 0.5s 0.3s;
}
.video-player .video-speed-controls {
  position: absolute;
  z-index: 4;
  top: calc(var(--video-topbar-height) + 0.5em);
  left: 0.5em;
  padding: 0.05em 0.1em;
  background-color: rgba(255, 255, 255, 0.5);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  transition: width 0.5s ease 0.3s, height 0.5s ease 0.3s;
  text-align: center;
}
.video-player .video-speed-controls:hover, .video-player .video-speed-controls:active {
  width: 8rem;
  height: 3rem;
}
.video-player .video-speed-controls:hover .cover, .video-player .video-speed-controls:active .cover {
  width: 0%;
  height: 0%;
}
.video-player .video-speed-controls:hover .move, .video-player .video-speed-controls:active .move {
  width: 1.5rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.25);
}
.video-player .video-speed-controls .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}
.video-player .video-speed-controls .move {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 6;
  transition: all 0.3s ease 0.5s;
}
.video-player .video-speed-controls button {
  background-color: transparent;
  border-color: transparent;
}
.video-player .video-speed-controls .decrease,
.video-player .video-speed-controls .value,
.video-player .video-speed-controls .increase {
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  user-select: none;
  position: relative;
  z-index: 2;
}
.video-player .video-speed-controls .value {
  z-index: 1;
}
.video-player video {
  max-width: 100%;
  max-height: 100%;
}
.video-player .video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  background-color: var(--main-player-background);
  z-index: 2;
  transition: all ease 0.5s 0.3s;
}
.video-player .video-controls .icons {
  position: absolute;
}
.video-player .video-controls .seekbar {
  width: 100%;
  height: 0.4rem;
  position: relative;
  background-color: var(--main-player-controls);
  cursor: pointer;
  overflow: hidden;
}
.video-player .video-controls .seekbar .progress {
  background-color: var(--main-player-controls-dark);
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-right: auto;
  transition: all ease 0.25s;
}
.video-player .video-controls .video-playback-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.video-player .video-controls .video-volume-control {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.4rem;
}
.video-player .video-controls .video-timings {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-player-controls-dark);
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: auto;
  padding: 0 0.25em;
  user-select: none;
}
.video-player .video-controls .video-timings .time {
  width: min-content;
  text-align: center;
}
.video-player .video-controls .control-btn {
  width: 4rem;
  height: 4rem;
  min-width: 4rem;
  min-height: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  color: var(--main-player-controls);
  outline: 0;
  cursor: pointer;
}
.video-player .video-controls .control-btn:hover {
  color: var(--player-foreGround);
  background-color: var(--player-background-hover);
}
.video-player .video-controls .toggle-play-pause.play .pause-icon {
  display: none;
}
.video-player .video-controls .toggle-play-pause.pause .play-icon {
  display: none;
}
.video-player .video-controls .toggle-play-pause.on .volume-off {
  display: none;
}
.video-player .video-controls .toggle-play-pause.on .volume-on {
  display: none;
}

/*# sourceMappingURL=style.css.map */
