.BurgerControls {
	width: 100%;
    background-color: #CF8F2E;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 1rem 0;
}