body.light {

  .directory-menu {

    h1.title {
      color: #4a4a4a;
    }
  }
}

body.dark {

  .directory-menu {

    h1.title {
      color: #ebefd7
    }
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 4em;
}

.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  min-width: 30%;
  height: 24rem;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 0.25em 0.5em;

  &:first-child {
    margin-right: 1em;
  }

  &:last-child {
    margin-left: 1em;
  }

  .content {
    height: 9rem;
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

    .title {
      font-weight: bold;
      margin-bottom: 0.0.5em;
    }

    .subtitle {
      font-weight: lighter;
      font-size: var(--normal-size-text-1);
    }
  }
}