html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
 }

.btn {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    display: inline-block;
    background-color: red;
    border-radius: 15px;
    color: white;
    margin: auto;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}

.score {
    font-size: 2em;
    padding: 5px;
    width: 40%;
    margin: auto;
}