.content {
    margin-top: 10px;
    display: none;
    padding:20px;
    font-size:0.8em;
    border: 1px solid #ddd;
}
.main{
    margin-top: 10px;
    font-size:1.5em;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
}
.active{
    display: block;
}