.NavigationItems {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	height: 100%;
}

@media (min-width: 500px) {
	.NavigationItems {
		flex-flow: row;
	}
}